In [22]:
import pandas as pd
import numpy as np

In [23]:
peliculas = pd.read_csv("datosnum.csv")
df = pd.DataFrame(peliculas)
df

,A,B,C,D,E,F,G,H,I,J,K,L,M
0,LocalTime=11:18:10.636,Message=TOS,MarketTime=00:00:00.000,Symbol=XIV.NQ,Type=1,Price=0,Size=0,Source=0,Condition=,Tick=,Mmid=,SubMarketId=0,Date=
1,LocalTime=11:18:10.636,Message=TOS,MarketTime=11:17:32.625,Symbol=XIV.NQ,Type=2,Price=112.8400,Size=19,Source=0,Condition=?,Tick=?,Mmid=T,SubMarketId=0,Date=
2,LocalTime=11:18:10.636,Message=TOS,MarketTime=11:17:32.625,Symbol=XIV.NQ,Type=2,Price=112.8400,Size=11,Source=0,Condition=?,Tick=?,Mmid=T,SubMarketId=0,Date=
3,LocalTime=11:18:10.636,Message=TOS,MarketTime=11:17:32.625,Symbol=XIV.NQ,Type=2,Price=112.8400,Size=100,Source=0,Condition=?,Tick=?,Mmid=T,SubMarketId=0,Date=
4,LocalTime=11:18:10.636,Message=TOS,MarketTime=11:17:32.626,Symbol=XIV.NQ,Type=2,Price=112.8400,Size=8,Source=0,Condition=?,Tick=?,Mmid=Z,SubMarketId=0,Date=
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31748,LocalTime=11:49:35.638,Message=TOS,MarketTime=11:49:39.009,Symbol=XIV.NQ,Type=0,Price=112.3200,Size=5,Source=14,Condition=?,Tick=?,Mmid=P,SubMarketId=32,Date=2017-11-01
31749,LocalTime=11:49:35.638,Message=TOS,MarketTime=11:49:39.009,Symbol=XIV.NQ,Type=0,Price=112.3200,Size=95,Source=14,Condition=?,Tick=?,Mmid=P,SubMarketId=32,Date=2017-11-01
31750,LocalTime=11:49:35.638,Message=TOS,MarketTime=11:49:39.009,Symbol=XIV.NQ,Type=0,Price=112.3200,Size=100,Source=14,Condition=?,Tick=?,Mmid=P,SubMarketId=32,Date=2017-11-01
31751,LocalTime=11:49:35.638,Message=TOS,MarketTime=11:49:39.010,Symbol=XIV.NQ,Type=0,Price=112.3200,Size=705,Source=14,Condition=?,Tick=?,Mmid=P,SubMarketId=32,Date=2017-11-01
31752,LocalTime=11:49:35.769,Message=TOS,MarketTime=11:49:39.064,Symbol=XIV.NQ,Type=0,Price=112.3100,Size=40,Source=1,Condition=?,Tick=?,Mmid=T,SubMarketId=32,Date=2017-11-01

In [24]:
import datetime
hora = df['A'].str.extract('((?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d)')
hora

              0
0      11:18:10
1      11:18:10
2      11:18:10
3      11:18:10
4      11:18:10
...         ...
31748  11:49:35
31749  11:49:35
31750  11:49:35
31751  11:49:35
31752  11:49:35

[31753 rows x 1 columns]

In [25]:
#USANDO EPRESIONES REGULARES PARA EXTRAER SOLO LOS NUMEROS
df2 = pd.DataFrame()
df2["A"]=df['A'].str.extract('((?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d)')
df2["C"]=df['C'].str.extract('((?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d)')
df2["F"]=df['F'].str.extract('(\d+(?:\.\d+)?)')
df2["G"]=df['G'].str.extract('(\d+(?:\.\d+)?)')
df2

              A         C         F    G
0      11:18:10  00:00:00         0    0
1      11:18:10  11:17:32  112.8400   19
2      11:18:10  11:17:32  112.8400   11
3      11:18:10  11:17:32  112.8400  100
4      11:18:10  11:17:32  112.8400    8
...         ...       ...       ...  ...
31748  11:49:35  11:49:39  112.3200    5
31749  11:49:35  11:49:39  112.3200   95
31750  11:49:35  11:49:39  112.3200  100
31751  11:49:35  11:49:39  112.3200  705
31752  11:49:35  11:49:39  112.3100   40

[31753 rows x 4 columns]

In [26]:
#AGRUPAR POR MINUTOS
df2["A"] = pd.DatetimeIndex(df2["A"])
df2.set_index(keys="A", inplace=True)
inicio = datetime.time(11,18,0)
fin = datetime.time(11,19,0)

In [27]:
#MOSTRAR LOS DATOS ENTRE LAS 2 FECHAS
df2[["F"]].between_time(inicio,fin)

                            F
A
2023-08-15 11:18:10         0
2023-08-15 11:18:10  112.8400
2023-08-15 11:18:10  112.8400
2023-08-15 11:18:10  112.8400
2023-08-15 11:18:10  112.8400
...                       ...
2023-08-15 11:18:55  112.8500
2023-08-15 11:18:55  112.8500
2023-08-15 11:18:55  112.8400
2023-08-15 11:18:55         0
2023-08-15 11:19:00  112.8200

[1026 rows x 1 columns]